.css-1ykhps {
    padding: 1rem 1rem;
}
/* Remove top white space */
/* https://discuss.streamlit.io/t/reduce-white-space-top-of-the-page/21737/3 */
.css-18e3th9 {
    padding-top: 0rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}